
//- DOM Base
#application
#templates!= partial('micros')

//- Dependencies
script(src='/js/vendor/jquery.min.js')
script(src='/js/vendor/jquery-ui.min.js')
script(src='/js/vendor/jquery.cookie.js')
script(src='/js/vendor/jquery.cssemoticons.js')
script(src='/js/vendor/jquery.timeago.js')
script(src='/js/vendor/underscore.js')
script(src='/js/vendor/backbone.js')
script(src='/js/vendor/mustache.js')
script(src='/js/vendor/json2.js')
script(src='/js/vendor/keyCandy.js')
script(src='/js/vendor/happy.js')
script(src='/js/vendor/happy.methods.js')
script(src='/js/vendor/spin.js')

//- Core
script(src='/core.js')
script(type='text/javascript')
  var DNode      = require('dnode'),
      middleware = require('backbone-dnode');

//- Bootstrapped server settings
script(type='text/javascript')
  var port      = '!{locals.port}',
      token     = '!{locals.token}',
      bootstrap = !{JSON.stringify(bootstrap)};

script(src='/routers/app.router.js')

script(src='/models/app.model.js')
script(src='/models/message.model.js')
script(src='/models/room.model.js')
script(src='/models/user.model.js')
script(src='/models/track.model.js')
script(src='/models/beat.model.js')

script(src='/views/app.view.js')
script(src='/views/message.view.js')
script(src='/views/room.view.js')
script(src='/views/user.view.js')
script(src='/views/track.view.js')
script(src='/views/beat.view.js')

//- Helpers
script(src='/js/helpers.js')
script(src='/js/google.js')

//- Initialize
script(src='/js/init.js')
