
/* line 6 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */

/* line 13 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * HTML5 display definitions
 * ==========================================================================
 */

/* line 18 : /home/nbaugh/Public/sponoders/public/css/style.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 21 : /home/nbaugh/Public/sponoders/public/css/style.styl */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 26 : /home/nbaugh/Public/sponoders/public/css/style.styl */
audio:not([controls]),
[hidden] {
  display: none;
}

/* line 29 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Base
 * ==========================================================================
 */

/* line 34 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

/* line 40 : /home/nbaugh/Public/sponoders/public/css/style.styl */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 46 : /home/nbaugh/Public/sponoders/public/css/style.styl */
body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231;
  font-family: sans-serif;
  color: #222;
}

/* line 53 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button,
input,
select,
textarea {
  font-family: sans-serif;
  color: #222;
}

/* line 57 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

/* line 62 : /home/nbaugh/Public/sponoders/public/css/style.styl */
::selection,
::-moz-selection,
::-webkit-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 66 : /home/nbaugh/Public/sponoders/public/css/style.styl */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 71 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Links
 * ==========================================================================
 */

/* line 75 : /home/nbaugh/Public/sponoders/public/css/style.styl */
a {
  color: #00e;
}

/* line 77 : /home/nbaugh/Public/sponoders/public/css/style.styl */
a:visited {
  color: #551a8b;
}

/* line 79 : /home/nbaugh/Public/sponoders/public/css/style.styl */
a:hover {
  color: #06e;
}

/* line 81 : /home/nbaugh/Public/sponoders/public/css/style.styl */
a:focus {
  outline: thin dotted;
}

/* line 83 : /home/nbaugh/Public/sponoders/public/css/style.styl */
a:hover,
a:active {
  outline: 0;
}

/* line 86 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */

/* line 88 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Typography
 * ==========================================================================
 */

/* line 92 : /home/nbaugh/Public/sponoders/public/css/style.styl */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 95 : /home/nbaugh/Public/sponoders/public/css/style.styl */
b,
strong {
  font-weight: bold;
}

/* line 98 : /home/nbaugh/Public/sponoders/public/css/style.styl */
blockquote {
  margin: 1em 40px;
}

/* line 101 : /home/nbaugh/Public/sponoders/public/css/style.styl */
dfn {
  font-style: italic;
}

/* line 104 : /home/nbaugh/Public/sponoders/public/css/style.styl */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 112 : /home/nbaugh/Public/sponoders/public/css/style.styl */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 117 : /home/nbaugh/Public/sponoders/public/css/style.styl */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 123 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Redeclare monospace font family: h5bp.com/j */

/* line 125 : /home/nbaugh/Public/sponoders/public/css/style.styl */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 130 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Improve readability of pre-formatted text in all browsers */

/* line 132 : /home/nbaugh/Public/sponoders/public/css/style.styl */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 137 : /home/nbaugh/Public/sponoders/public/css/style.styl */
q {
  quotes: none;
}

/* line 139 : /home/nbaugh/Public/sponoders/public/css/style.styl */
q:before,
q:after {
  content: "";
  content: none;
}

/* line 143 : /home/nbaugh/Public/sponoders/public/css/style.styl */
small {
  font-size: 85%;
}

/* line 146 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */

/* line 148 : /home/nbaugh/Public/sponoders/public/css/style.styl */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 154 : /home/nbaugh/Public/sponoders/public/css/style.styl */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 161 : /home/nbaugh/Public/sponoders/public/css/style.styl */
sub {
  bottom: -0.25em;
}

/* line 164 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Lists
 * ==========================================================================
 */

/* line 169 : /home/nbaugh/Public/sponoders/public/css/style.styl */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 173 : /home/nbaugh/Public/sponoders/public/css/style.styl */
dd {
  margin: 0 0 0 40px;
}

/* line 176 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 177 : /home/nbaugh/Public/sponoders/public/css/style.styl */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 183 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Embedded content
 * ==========================================================================
 */

/* line 188 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

/* line 193 : /home/nbaugh/Public/sponoders/public/css/style.styl */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 198 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * Correct overflow not hidden in IE9
 */

/* line 201 : /home/nbaugh/Public/sponoders/public/css/style.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 204 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Figures
 * ==========================================================================
 */

/* line 209 : /home/nbaugh/Public/sponoders/public/css/style.styl */
figure,
form {
  margin: 0;
}

/* line 212 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Forms
 * ==========================================================================
 */

/* line 217 : /home/nbaugh/Public/sponoders/public/css/style.styl */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 222 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Indicate that 'label' will shift focus to the associated form element */

/* line 224 : /home/nbaugh/Public/sponoders/public/css/style.styl */
label {
  cursor: pointer;
}

/* line 227 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

/* line 231 : /home/nbaugh/Public/sponoders/public/css/style.styl */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 236 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

/* line 242 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 248 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

/* line 253 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button,
input {
  line-height: normal;
  *overflow: visible;
}

/* line 257 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

/* line 260 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 261 : /home/nbaugh/Public/sponoders/public/css/style.styl */
table button,
table input {
  *overflow: auto;
}

/* line 264 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

/* line 268 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 272 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 273 : /home/nbaugh/Public/sponoders/public/css/style.styl */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 276 : /home/nbaugh/Public/sponoders/public/css/style.styl */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 279 : /home/nbaugh/Public/sponoders/public/css/style.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 284 : /home/nbaugh/Public/sponoders/public/css/style.styl */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 287 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * Consistent box sizing and appearance
 */

/* line 290 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

/* line 293 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 297 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

/* line 301 : /home/nbaugh/Public/sponoders/public/css/style.styl */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 306 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Colors for form validity */

/* line 308 : /home/nbaugh/Public/sponoders/public/css/style.styl */
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

/* line 313 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Tables
 * ==========================================================================
 */

/* line 317 : /home/nbaugh/Public/sponoders/public/css/style.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 321 : /home/nbaugh/Public/sponoders/public/css/style.styl */
td {
  vertical-align: top;
}

/* line 336 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Disco Teen '66
 * http://www.colourlovers.com/palette/3097/Disco_Teen_66
 * ==========================================================================
 */

/* line 347 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* ==|== primary styles =====================================================
 * Author: sponoders
 * ==========================================================================
 */

/* line 12 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/index.styl */

/* line 338 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/vendor.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/config.styl */

/* line 5 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 3 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/reset.styl */

/* line 4 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/positions.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/iconic.styl */

/* line 147 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/gradients.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/config.styl */

/* line 187 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/buttons.styl */

/* line 338 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/vendor.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/config.styl */

/* line 147 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/gradients.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/config.styl */

/* line 13 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/box.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/color-image.styl */

/* line 353 : /home/nbaugh/Public/sponoders/public/css/style.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* line 357 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 361 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper {
  width: 100%;
  height: 100%;
  background: #070304 url("/img/bg/carbon_fibre.png") repeat;
}

/* line 365 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 250px;
  height: 50px;
  background: url(gradient-data-uri(create-gradient-image(50px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4e95cd), color-stop(1, #2f71a5));
  background: -webkit-linear-gradient(top, #4e95cd 0%, #2f71a5 100%);
  background: -moz-linear-gradient(top, #4e95cd 0%, #2f71a5 100%);
  background: linear-gradient(top, #4e95cd 0%, #2f71a5 100%);
}

/* line 371 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #header h1 {
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* line 380 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 250px;
  background-color: #070304;
}

/* line 386 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar nav#navigation {
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 200px;
}

/* line 389 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar nav#navigation button {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  background: #4e95cd;
  background: url(gradient-data-uri(create-gradient-image(28px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4e95cd), color-stop(1, #3888c7));
  background: -webkit-linear-gradient(top, #4e95cd 0%, #3888c7 100%);
  background: -moz-linear-gradient(top, #4e95cd 0%, #3888c7 100%);
  background: linear-gradient(top, #4e95cd 0%, #3888c7 100%);
  border: 1px solid #3581bd;
  border-bottom: 1px solid #3888c7;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #60a0d2;
  -moz-box-shadow: inset 0 1px 0 0 #60a0d2;
  box-shadow: inset 0 1px 0 0 #60a0d2;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 15px 8px 15px;
  text-align: center;
  text-shadow: 0 -1px 0 #3580bc;
  color: #fff;
  width: 100%;
}

/* line 69 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/buttons.styl */
#application .wrapper #sidebar nav#navigation button:hover,
#application .wrapper #sidebar nav#navigation button.hover {
#3581bd
  background: #3581bd;
  background: url(gradient-data-uri(create-gradient-image(28px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4e95cd), color-stop(1, #3581bd));
  background: -webkit-linear-gradient(top, #4e95cd 0%, #3581bd 100%);
  background: -moz-linear-gradient(top, #4e95cd 0%, #3581bd 100%);
  background: linear-gradient(top, #4e95cd 0%, #3581bd 100%);
  cursor: pointer;
}

/* line 76 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/buttons.styl */
#application .wrapper #sidebar nav#navigation button:active,
#application .wrapper #sidebar nav#navigation button.active {
#3581bd
  border: 1px solid #3581bd;
  border-bottom: 1px solid #3581bd;
  background: url(gradient-data-uri(create-gradient-image(28px, bottom)));
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #4e95cd), color-stop(1, #3581bd));
  background: -webkit-linear-gradient(bottom, #4e95cd 0%, #3581bd 100%);
  background: -moz-linear-gradient(bottom, #4e95cd 0%, #3581bd 100%);
  background: linear-gradient(bottom, #4e95cd 0%, #3581bd 100%);
  -webkit-box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
  -moz-box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
  box-shadow: inset 0 0 8px 4px rgba(0,0,0,0.15), 0 1px 0 0 #eee;
}

/* line 392 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar nav#navigation button#create-room {
  margin-bottom: 10px;
}

/* line 394 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch {
  position: absolute;
  top: 75px;
  left: 25px;
  margin: 0;
  padding: 0;
}

/* line 398 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  margin-top: 10px;
}

/* line 401 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li a {
  color: #fff;
  cursor: pointer;
}

/* line 404 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li a:hover {
  text-decoration: underline;
}

/* line 406 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper {
  height: 100%;
  z-index: 1;
  color: #fff;
  position: absolute;
  top: 0px;
  left: 275px;
}

/* line 411 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper #main-content {
  height: 100%;
  position: relative;
}

/* line 415 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper #main-content #user-track,
#application .wrapper #main-wrapper #main-content #other-track {
  height: 100%;
  background: #fff url("/img/bg/project_papper.png") repeat;
  float: left;
  width: 420px;
}

/* line 420 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper #main-content #user-track .tracker,
#application .wrapper #main-wrapper #main-content #other-track .tracker {
  width: 420px;
  height: 5px;
}

/* line 423 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper #main-content #user-track h1,
#application .wrapper #main-wrapper #main-content #other-track h1 {
  position: absolute;
  bottom: 0px;
  ((null)): 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  width: 420px;
  text-align: center;
  background-color: #070304;
}

/* line 434 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper #main-content #user-track {
  margin-right: 25px;
}

/* line 436 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper #main-content #user-track .tracker {
  background-color: #4e95cd;
}

/* line 438 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 439 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper #main-content #other-track .tracker {
  background-color: #f1227d;
}

/* line 442 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* ==|== media queries ======================================================
 * PLACEHOLDER Media Queries for Responsive Design.
 * These override the primary ('mobile first') styles
 * Modify as content requires.
 * ==========================================================================
 */

/* line 448 : /home/nbaugh/Public/sponoders/public/css/style.styl */
@media only screen and (min-width: 480px) {
}

/* line 451 : /home/nbaugh/Public/sponoders/public/css/style.styl */
@media only screen and (min-width: 768px) {
}

/* line 454 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* ==|== non-semantic helper classes ========================================
 * Please define your styles before this section.
 * ==========================================================================
 */

/* line 458 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* For image replacement */

/* line 460 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 469 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.ir br {
  display: none;
}

/* line 472 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Hide from both screenreaders and browsers: h5bp.com/u */

/* line 474 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 478 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

/* line 480 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 489 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 490 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 498 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */

/* line 500 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Hide visually and from screenreaders, but maintain layout */

/* line 502 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.invisible {
  visibility: hidden;
}

/* line 505 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Contain floats: h5bp.com/q */

/* line 507 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.clearfix {
  *zoom: 1;
}

/* line 508 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.clearfix:before {
  content: "";
  display: table;
}

/* line 511 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 517 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* ==|== print styles =======================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ==========================================================================
 */

/* line 522 : /home/nbaugh/Public/sponoders/public/css/style.styl */
@media print {

/* line 523 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

/* line 530 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  a {
    text-decoration: underline;
  }

/* line 532 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  a:visited {
    text-decoration: underline;
  }

/* line 534 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  a[href]:after {
    content: " (" attr(href) ")";
  }

/* line 536 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

/* line 538 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  .ir a:after {
    content: "";
  }

/* line 540 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 541 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

/* line 544 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

/* line 547 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  thead {
    display: table-header-group;
  }

/* line 550 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  tr {
    page-break-inside: avoid;
  }

/* line 552 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

/* line 555 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  @page {
    margin: 0.5cm;
  }

/* line 558 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

/* line 561 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
