
/* line 6 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */

/* line 13 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * HTML5 display definitions
 * ==========================================================================
 */

/* line 18 : /home/nbaugh/Public/sponoders/public/css/style.styl */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 21 : /home/nbaugh/Public/sponoders/public/css/style.styl */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 26 : /home/nbaugh/Public/sponoders/public/css/style.styl */
audio:not([controls]),
[hidden] {
  display: none;
}

/* line 29 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Base
 * ==========================================================================
 */

/* line 34 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

/* line 40 : /home/nbaugh/Public/sponoders/public/css/style.styl */
html {
  font-size: 100%;
  overflow: hidden;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 47 : /home/nbaugh/Public/sponoders/public/css/style.styl */
body {
  margin: 0;
  font: 13px/1.5 Helvetica Neue, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
  color: #222;
}

/* line 52 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button,
input,
select,
textarea {
  font-family: Helvetica Neue, Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
  color: #222;
}

/* line 56 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

/* line 61 : /home/nbaugh/Public/sponoders/public/css/style.styl */
::selection,
::-moz-selection,
::-webkit-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 65 : /home/nbaugh/Public/sponoders/public/css/style.styl */
::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none;
}

/* line 70 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Links
 * ==========================================================================
 */

/* line 74 : /home/nbaugh/Public/sponoders/public/css/style.styl */
a {
  color: #00e;
}

/* line 76 : /home/nbaugh/Public/sponoders/public/css/style.styl */
a:visited {
  color: #551a8b;
}

/* line 78 : /home/nbaugh/Public/sponoders/public/css/style.styl */
a:hover {
  color: #06e;
}

/* line 80 : /home/nbaugh/Public/sponoders/public/css/style.styl */
a:focus {
  outline: thin dotted;
}

/* line 82 : /home/nbaugh/Public/sponoders/public/css/style.styl */
a:hover,
a:active {
  outline: 0;
}

/* line 85 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Improve readability when focused and hovered in all browsers: h5bp.com/h */

/* line 87 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Typography
 * ==========================================================================
 */

/* line 91 : /home/nbaugh/Public/sponoders/public/css/style.styl */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 94 : /home/nbaugh/Public/sponoders/public/css/style.styl */
b,
strong {
  font-weight: bold;
}

/* line 97 : /home/nbaugh/Public/sponoders/public/css/style.styl */
blockquote {
  margin: 1em 40px;
}

/* line 100 : /home/nbaugh/Public/sponoders/public/css/style.styl */
dfn {
  font-style: italic;
}

/* line 103 : /home/nbaugh/Public/sponoders/public/css/style.styl */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 111 : /home/nbaugh/Public/sponoders/public/css/style.styl */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 116 : /home/nbaugh/Public/sponoders/public/css/style.styl */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 122 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Redeclare monospace font family: h5bp.com/j */

/* line 124 : /home/nbaugh/Public/sponoders/public/css/style.styl */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 129 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Improve readability of pre-formatted text in all browsers */

/* line 131 : /home/nbaugh/Public/sponoders/public/css/style.styl */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 136 : /home/nbaugh/Public/sponoders/public/css/style.styl */
q {
  quotes: none;
}

/* line 138 : /home/nbaugh/Public/sponoders/public/css/style.styl */
q:before,
q:after {
  content: "";
  content: none;
}

/* line 142 : /home/nbaugh/Public/sponoders/public/css/style.styl */
small {
  font-size: 85%;
}

/* line 145 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Position subscript and superscript content without affecting line-height: h5bp.com/k */

/* line 147 : /home/nbaugh/Public/sponoders/public/css/style.styl */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 153 : /home/nbaugh/Public/sponoders/public/css/style.styl */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 160 : /home/nbaugh/Public/sponoders/public/css/style.styl */
sub {
  bottom: -0.25em;
}

/* line 163 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Lists
 * ==========================================================================
 */

/* line 168 : /home/nbaugh/Public/sponoders/public/css/style.styl */
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 172 : /home/nbaugh/Public/sponoders/public/css/style.styl */
dd {
  margin: 0 0 0 40px;
}

/* line 175 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 176 : /home/nbaugh/Public/sponoders/public/css/style.styl */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 182 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Embedded content
 * ==========================================================================
 */

/* line 187 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

/* line 192 : /home/nbaugh/Public/sponoders/public/css/style.styl */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 197 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * Correct overflow not hidden in IE9
 */

/* line 200 : /home/nbaugh/Public/sponoders/public/css/style.styl */
svg:not(:root) {
  overflow: hidden;
}

/* line 203 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Figures
 * ==========================================================================
 */

/* line 208 : /home/nbaugh/Public/sponoders/public/css/style.styl */
figure,
form {
  margin: 0;
}

/* line 211 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Forms
 * ==========================================================================
 */

/* line 216 : /home/nbaugh/Public/sponoders/public/css/style.styl */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 221 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Indicate that 'label' will shift focus to the associated form element */

/* line 223 : /home/nbaugh/Public/sponoders/public/css/style.styl */
label {
  cursor: pointer;
}

/* line 226 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

/* line 230 : /home/nbaugh/Public/sponoders/public/css/style.styl */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 235 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

/* line 241 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 247 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

/* line 252 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button,
input {
  line-height: normal;
  *overflow: visible;
}

/* line 256 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

/* line 259 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 260 : /home/nbaugh/Public/sponoders/public/css/style.styl */
table button,
table input {
  *overflow: auto;
}

/* line 263 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

/* line 267 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 271 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 272 : /home/nbaugh/Public/sponoders/public/css/style.styl */
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 275 : /home/nbaugh/Public/sponoders/public/css/style.styl */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

/* line 278 : /home/nbaugh/Public/sponoders/public/css/style.styl */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 283 : /home/nbaugh/Public/sponoders/public/css/style.styl */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 286 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * Consistent box sizing and appearance
 */

/* line 289 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

/* line 292 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 296 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

/* line 300 : /home/nbaugh/Public/sponoders/public/css/style.styl */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 305 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Colors for form validity */

/* line 307 : /home/nbaugh/Public/sponoders/public/css/style.styl */
input:valid,
textarea:valid,
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}

/* line 312 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Tables
 * ==========================================================================
 */

/* line 316 : /home/nbaugh/Public/sponoders/public/css/style.styl */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 320 : /home/nbaugh/Public/sponoders/public/css/style.styl */
td {
  vertical-align: top;
}

/* line 335 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* =============================================================================
 * Color Variables
 * ==========================================================================
 */

/* line 342 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/*dk_gradient_top     = #cecece
dk_gradient_bottom    = #a6a6a6
dk_border             = #515151
dk_inset              = #e2e2e2*/

/* line 375 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* ==|== primary styles =====================================================
 * Author: sponoders
 * ==========================================================================
 */

/* line 12 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/index.styl */

/* line 338 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/vendor.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/config.styl */

/* line 5 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/text/index.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/text/aliases.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 11 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 3 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/reset.styl */

/* line 4 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/positions.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/clearfix.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/iconic.styl */

/* line 147 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/gradients.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/config.styl */

/* line 187 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/buttons.styl */

/* line 338 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/vendor.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/config.styl */

/* line 147 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/gradients.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/config.styl */

/* line 13 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/box.styl */

/* line 2 : /home/nbaugh/Public/sponoders/node_modules/nib/lib/nib/color-image.styl */

/* line 381 : /home/nbaugh/Public/sponoders/public/css/style.styl */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
}

/* line 385 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button {
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  display: inline-block;
  text-decoration: none;
  height: 30px;
  background: #4587be;
  background: url(gradient-data-uri(create-gradient-image(30px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4587be), color-stop(1, #33649a));
  background: -webkit-linear-gradient(top, #4587be 0%, #33649a 100%);
  background: -moz-linear-gradient(top, #4587be 0%, #33649a 100%);
  background: linear-gradient(top, #4587be 0%, #33649a 100%);
  border: 1px solid #1a1a1a;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 0 0 #5ea1d8;
  -moz-box-shadow: inset 0 1px 0 0 #5ea1d8;
  box-shadow: inset 0 1px 0 0 #5ea1d8;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  padding: 7px 15px 8px 15px;
  text-align: center;
  color: #fff;
}

/* line 400 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button:hover,
button.hover {
  background: #2e5a8b;
  background: url(gradient-data-uri(create-gradient-image(30px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #4587be), color-stop(1, #2e5a8b));
  background: -webkit-linear-gradient(top, #4587be 0%, #2e5a8b 100%);
  background: -moz-linear-gradient(top, #4587be 0%, #2e5a8b 100%);
  background: linear-gradient(top, #4587be 0%, #2e5a8b 100%);
  cursor: pointer;
}

/* line 404 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button:active,
button.active {
  background: url(gradient-data-uri(create-gradient-image(30px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33649a), color-stop(1, #4587be));
  background: -webkit-linear-gradient(top, #33649a 0%, #4587be 100%);
  background: -moz-linear-gradient(top, #33649a 0%, #4587be 100%);
  background: linear-gradient(top, #33649a 0%, #4587be 100%);
  -webkit-box-shadow: inset 0 -1px 0 0 #5ea1d8;
  -moz-box-shadow: inset 0 -1px 0 0 #5ea1d8;
  box-shadow: inset 0 -1px 0 0 #5ea1d8;
}

/* line 407 : /home/nbaugh/Public/sponoders/public/css/style.styl */
button:focus,
button.focus {
  outline: none;
  background: url(gradient-data-uri(create-gradient-image(30px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #33649a), color-stop(1, #4587be));
  background: -webkit-linear-gradient(top, #33649a 0%, #4587be 100%);
  background: -moz-linear-gradient(top, #33649a 0%, #4587be 100%);
  background: linear-gradient(top, #33649a 0%, #4587be 100%);
  -webkit-box-shadow: 0 0 5px 1px #000;
  -moz-box-shadow: 0 0 5px 1px #000;
  box-shadow: 0 0 5px 1px #000;
}

/* line 411 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application {
  position: absolute;
  ((null)): 0;
  ((null)): 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #e3e3e3 url("/img/concrete_wall_3.png") repeat;
}

/* line 418 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 419 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #header {
  position: absolute;
  ((null)): 0;
  ((null)): 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 32px;
  border-bottom: 1px solid #808080;
  -webkit-box-shadow: inset 0 1px 0 #adadad;
  -moz-box-shadow: inset 0 1px 0 #adadad;
  box-shadow: inset 0 1px 0 #adadad;
  background: url(gradient-data-uri(create-gradient-image(32px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(1, #b2b2b2));
  background: -webkit-linear-gradient(top, #e6e6e6 0%, #b2b2b2 100%);
  background: -moz-linear-gradient(top, #e6e6e6 0%, #b2b2b2 100%);
  background: linear-gradient(top, #e6e6e6 0%, #b2b2b2 100%);
}

/* line 428 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #header ul,
#application .wrapper #header li {
  height: 32px;
  line-height: 32px;
}

/* line 431 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #header ul {
  margin-left: 32px;
}

/* line 433 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #header ul li {
  font-size: 12px;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  white-space: nowrap;
  float: left;
}

/* line 436 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #header ul li span {
  display: inline-block;
  width: 22px;
  height: 32px;
  background: url("/img/separator.png") no-repeat;
  background-position: center;
}

/* line 442 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #header ul li a {
  display: inline-block;
  color: #40404a;
}

/* line 445 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #message_wrapper {
  position: absolute;
  ((null)): 0;
  ((null)): 0;
  top: 32px;
  left: 80px;
  right: 0;
  height: 90px;
  z-index: 2;
  background-color: #343434;
}

/* line 453 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #message_wrapper #message {
  margin: 0 auto;
  margin-top: 15px;
  width: 700px;
  height: 60px;
  background-color: #2f2f2f;
  -webkit-box-shadow: inset 0 1px 0 #252525 inset 1px 1px 0 #252525 inset 0 1px 1px #252525 inset 0 -1px 0 #454545;
  -moz-box-shadow: inset 0 1px 0 #252525 inset 1px 1px 0 #252525 inset 0 1px 1px #252525 inset 0 -1px 0 #454545;
  box-shadow: inset 0 1px 0 #252525 inset 1px 1px 0 #252525 inset 0 1px 1px #252525 inset 0 -1px 0 #454545;
  border-bottom: 1px solid #454545;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* line 462 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #message_wrapper #message .container {
  float: left;
  width: 400px;
}

/* line 465 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #message_wrapper #message .container p,
#application .wrapper #message_wrapper #message .container span {
  float: left;
}

/* line 467 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #message_wrapper #message .container p,
#application .wrapper #message_wrapper #message .container span {
  line-height: 1;
  font-size: 14px;
  font-weight: bold;
}

/* line 472 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #message_wrapper #message .container p {
  margin: 0;
  padding: 0;
  margin-top: 15px;
  color: #fff;
}

/* line 477 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #message_wrapper #message .container span {
  margin-top: 6px;
  display: block;
  color: #888;
}

/* line 481 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #message_wrapper #message .container p,
#application .wrapper #message_wrapper #message .container span {
  margin-left: 15px;
}

/* line 483 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #message_wrapper #message button {
  float: left;
  margin-top: 15px;
  width: 200px;
  margin-left: 25px;
}

/* line 488 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #footer {
  position: absolute;
  ((null)): 0;
  ((null)): 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 32px;
  border-top: 1px solid #808080;
  -webkit-box-shadow: inset 0 -1px 0 #adadad;
  -moz-box-shadow: inset 0 -1px 0 #adadad;
  box-shadow: inset 0 -1px 0 #adadad;
  background: url(gradient-data-uri(create-gradient-image(32px, top)));
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e6e6e6), color-stop(1, #b2b2b2));
  background: -webkit-linear-gradient(top, #e6e6e6 0%, #b2b2b2 100%);
  background: -moz-linear-gradient(top, #e6e6e6 0%, #b2b2b2 100%);
  background: linear-gradient(top, #e6e6e6 0%, #b2b2b2 100%);
}

/* line 498 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar {
  position: absolute;
  ((null)): 0;
  ((null)): 0;
  top: 32px;
  left: 0px;
  width: 80px;
  bottom: 0;
  z-index: 2;
  border-right: 1px solid #222;
  background: #444 url("/img/sidebar-normal.png") repeat;
  -webkit-box-shadow: inset 0 0 25px #000;
  -moz-box-shadow: inset 0 0 25px #000;
  box-shadow: inset 0 0 25px #000;
}

/* line 508 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch {
  margin: 0;
  padding: 0;
}

/* line 511 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li,
#application .wrapper #sidebar ul#quicklaunch a {
  height: 80px;
  width: 80px;
}

/* line 514 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0px;
  border-bottom: 1px solid #2e2e2e;
  position: relative;
  ((null)): 0;
  ((null)): 0;
}

/* line 518 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li:hover {
  background: #323232 url("/img/sidebar-over.png") repeat;
  -webkit-box-shadow: inset 0 0 25px #000;
  -moz-box-shadow: inset 0 0 25px #000;
  box-shadow: inset 0 0 25px #000;
}

/* line 521 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li:hover a {
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

/* line 523 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li.selected {
  background: #323232 url("/img/sidebar-over.png") repeat;
  -webkit-box-shadow: inset 0 0 25px #000;
  -moz-box-shadow: inset 0 0 25px #000;
  box-shadow: inset 0 0 25px #000;
}

/* line 526 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li.selected a {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* line 528 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li.selected a:before {
  content: "";
  position: absolute;
  ((null)): 0;
  ((null)): 0;
  top: 30.5px;
  right: -1px;
  z-index: 3;
  width: 10px;
  height: 19px;
  margin: 0;
  padding: 0;
  background: url("/img/selected.png") no-repeat;
}

/* line 539 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li a {
  display: block;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("/img/avatar.png") no-repeat;
  background-position: 50% 16px;
  font-size: 14px;
  text-align: center;
  opacity: 0.5;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}

/* line 549 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li a span {
  display: inline-block;
  margin-top: 50px;
}

/* line 552 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #sidebar ul#quicklaunch li a:hover {
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
}

/* line 554 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper {
  z-index: 1;
  color: #fff;
  position: absolute;
  ((null)): 0;
  ((null)): 0;
  top: 33px;
  left: 81px;
  right: 0;
  bottom: 30px;
}

/* line 562 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper #main-content {
  position: absolute;
  ((null)): 0;
  ((null)): 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  background: color_bg url("/img/concrete_wall_3.png") repeat;
}

/* line 570 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper #main-content #user-track {
  width: 250px;
  border-right: 1px solid #808080;
}

/* line 573 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper #main-content #user-track .tracker {
  width: 250px;
  background-color: #808080;
  height: 5px;
}

/* line 577 : /home/nbaugh/Public/sponoders/public/css/style.styl */
#application .wrapper #main-wrapper #main-content #user-track h1 {
  position: absolute;
  bottom: 0px;
  ((null)): 0;
  z-index: 2;
  margin: 0;
  padding: 0;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  width: 250px;
  text-align: center;
  background-color: #000;
}

/* line 589 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* ==|== media queries ======================================================
 * PLACEHOLDER Media Queries for Responsive Design.
 * These override the primary ('mobile first') styles
 * Modify as content requires.
 * ==========================================================================
 */

/* line 595 : /home/nbaugh/Public/sponoders/public/css/style.styl */
@media only screen and (min-width: 480px) {
}

/* line 598 : /home/nbaugh/Public/sponoders/public/css/style.styl */
@media only screen and (min-width: 768px) {
}

/* line 601 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* ==|== non-semantic helper classes ========================================
 * Please define your styles before this section.
 * ==========================================================================
 */

/* line 605 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* For image replacement */

/* line 607 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 616 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.ir br {
  display: none;
}

/* line 619 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Hide from both screenreaders and browsers: h5bp.com/u */

/* line 621 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 625 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */

/* line 627 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 636 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 637 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 645 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */

/* line 647 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Hide visually and from screenreaders, but maintain layout */

/* line 649 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.invisible {
  visibility: hidden;
}

/* line 652 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* Contain floats: h5bp.com/q */

/* line 654 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.clearfix {
  *zoom: 1;
}

/* line 655 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.clearfix:before {
  content: "";
  display: table;
}

/* line 658 : /home/nbaugh/Public/sponoders/public/css/style.styl */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* line 664 : /home/nbaugh/Public/sponoders/public/css/style.styl */
/* ==|== print styles =======================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ==========================================================================
 */

/* line 669 : /home/nbaugh/Public/sponoders/public/css/style.styl */
@media print {

/* line 670 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  * {
    background: transparent !important;
    color: #000 !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

/* line 677 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  a {
    text-decoration: underline;
  }

/* line 679 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  a:visited {
    text-decoration: underline;
  }

/* line 681 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  a[href]:after {
    content: " (" attr(href) ")";
  }

/* line 683 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

/* line 685 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  .ir a:after {
    content: "";
  }

/* line 687 : /home/nbaugh/Public/sponoders/public/css/style.styl */

/* line 688 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

/* line 691 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

/* line 694 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  thead {
    display: table-header-group;
  }

/* line 697 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  tr {
    page-break-inside: avoid;
  }

/* line 699 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

/* line 702 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  @page {
    margin: 0.5cm;
  }

/* line 705 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

/* line 708 : /home/nbaugh/Public/sponoders/public/css/style.styl */
  h2,
  h3 {
    page-break-after: avoid;
  }
}
